<!DOCTYPE html>
<html>
    <head>
        <title>POC - Redis Stream</title>
        <style>
            body {
                background-color: #24292e;
            }
            #mydata {
                padding: 20px;
                color: aliceblue;
                font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace!important;
                font-size: 0.8em;
            }
        </style>
    </head>
    <body>
        <h1>Redis Stream Consumer</h1>
        <div id="mydata"></div>
        <script>
            var el = document.getElementById("mydata");
            const ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                const mydata = JSON.parse(event.data);
                var tag = document.createElement("p");
                var text = document.createTextNode(
                    `${mydata.id}: ${mydata.some_id} (${mydata.producer})`);
                tag.appendChild(text);
                el.appendChild(tag);
                window.scrollTo(0,document.body.scrollHeight);
            };
        </script>
    </body>
</html>